body {
  margin: 0;
}

div {
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

.nav {
  padding-right: 40px;
}

.nav span {
  display: inline-block;
  padding: 20px 10px;
}

.content {
  padding-top: 116px;
  display: flex;
  justify-content: center;
  margin: 0 auto 78px auto;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  display: flex;
  width: 630px;
}

.column.medium {
  display: flex;
  width: 300px;
}

.column.small {
  display: flex;
  width: 240px;
  flex-direction: column;
}

.lead-story .img-content span {
  margin-left: 20px;
}

.lead-story .img-content {
  background-image: url("../images/img-story-main.png");
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.img-content {
  color: white;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  margin-top: 15px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.img-content.camera {
  background-image: url("../images/img-story-3.png");
}

.img-content.earth {
  background-image: url("../images/img-story-2.png");
}

.img-content.cat {
  background-image: url("../images/img-story-1.png");
}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.news-bites{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-bites h3 {
  margin-bottom: 41px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.bite {
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

footer .title {
    display: inline-block;
    padding-right: 25px;
    border-right: 2px solid white;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

footer .nav {
    display: inline-block;
    justify-content: center;
    padding-left: 25px;
    padding-right: 0px;
}
